body
{
  background-image: url("images/chimistry.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}
form.form-group
{
  background-color: #fff;
  opacity: 0.9;
  padding: 12px;
}
.header .menu-bar
{
  margin-top: 7px;
  padding-top: 7px;
  margin: 0 auto;
  height: 150px;
  background: #0B2149;
  border-radius: 10px;
  margin: 5px;
  border-bottom: 2px solid #6aa25d;
}
.header .li
{
  font-weight: bold;
  font-size: 12px/18px;
  font-family: sans-serif;
  margin-right: 15px;
  margin-left: 15px;
  color: #6aa25d;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px;
  text-decoration: none;
}
.header .li:hover
{
  background: #6aa25d;
  color: #F7F7F7;
  border-radius: 25px;
  padding: 5px;
}
.header ul li
{
  font-weight: bold;
  font-size: 12px/18px;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  color: #6aa25d;
  cursor: pointer;
  transition: all 0.2s;
}
.header ul li:hover
{
  background: #6aa25d;
  color: #F7F7F7;
  border-radius: 25px;
}
.header .menu-bar img
{
  margin: 0 auto;
  width: 200px;
  padding-bottom: 7px;
  display: relative;
  border-radius: 30px;
}
.header .menu-bar input
{
  border-radius: 12px;
  margin-right: -30px;
}
.header .menu-bar input:hover
{
  background: #fff;
}
.header .menu-bar .interact
{
  margin-left: 30%;
}

.header h1
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0B2149;
  line-height: 0.8;
  padding-left: 60px;
}
.header h3
{
  margin-bottom: 0;
  padding-left: 30px;
}
.header .courseTitle
{
  margin-bottom: 30px;
}

.main
{
  margin-left: 120px;
  padding-right: 50px;
}
.main h2
{
  margin-left: 25px;
}
.main li.listCaption
{
  display: table-row;
  font-size: larger;
  text-decoration: underline;
}
.main .chimistryInfo
{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5dcba;
  padding: 6px;
  border: 1px solid #afc76dd4;
  border-bottom: 0;
  box-shadow: 1px 2px #263226da;
}
.main .chimistryInfo p
{
  font-family: 'PT Mono', monospace;
}
.main .chimistryInfo .hebraique
{
  font-size: small;
}
.main .chimistryInfo ul, .main .chimistryInfo li
{
  list-style-type: none;
}
.main .chimistryInfo h3:hover
{
  cursor: pointer;
}
.main .chimistryInfo button
{
  border-radius: 7px;
  background-color: #6aa25d;
  border: 0;
  box-shadow: 1px 1px #000;
}
.main input
{
  margin-top: 5px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
}
.main .chimistes
{
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  background-color: #f5f5dc;
  border: 1px solid #afc76dd4;
  box-shadow: 2px 1px #263226da;
}
.main a.wikipedia, a.chimistes a.wikipedia
{
  color: grey;
}
.main a:hover
{
  color:rgb(248, 99, 193);
}
.main a:visited, .chimistes a:visited
{
  color: rgb(244, 155, 211);
}
.main a:visited:hover {
  color: rgb(248, 99, 193);
}
.retour
{
  display: block;
  position: relative;
  bottom: 0px;
}
.subFooter
{
  height: 200px;
  width: 100%;
  background-image: url("images/chimistry.jpg");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: 80% 0;
}
.footer
{
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer .menu-bar {
  padding-top: 7px;
  text-align: center;
  height: 50px;
  background: linear-gradient(#0B2149, #01A6E8);
  border-radius: 10px;
  margin: 5px;
  border-bottom: 2px solid #6aa25d;
}

.footer ul li {
  font-weight: bold;
  font-size: 12px/18px;
  font-family: sans-serif;
  display: inline-block;
  text-shadow: 3px 3px 10px rgba(206, 212, 218, 0.5);
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  color: #b03b83;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px;
}
.footer .li {
  line-height: 1;
  font-weight: bold;
  font-size: 12px/18px;
  font-family: sans-serif;
  margin-right: 15px;
  margin-left: 15px;
  color: #b03b83;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
}

.footer .li:hover {
  background: #6aa25d;
  color: #F7F7F7;
  border-radius: 25px;
  padding: 5px;
  opacity: 0.9;
}
.footer a.portfolio
{
  text-decoration: none;
  color: #000;
  display: block;
  text-align: right;
  font-size: smaller;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 3em;
}
.footer a.portfolio:hover
{
  text-decoration: underline;
}